@{
    ViewData["Title"] = "Day Two";
}
<div id="wrapper">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Topic</th>
                <th>Facilitator</th>
            </tr>
        </thead>
        <tbody>
            <tr class="greyout">
                <td>8:00 AM - 8:30 AM</td>
                <td><span class="boldtext">Breakfast!!</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>8:30 AM - 11:45 AM</td>
                <td><span class="boldtext">Hack-a-thon & Breakout</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><span class="boldtext">Leadership/EUC Governance Breakout</span></td>
            </tr>
            <tr class="greyout">
                <td>11:45 AM - 12:30 PM</td>
                <td><span class="boldtext">Lunch!!</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>12:30 PM - 1:00 PM</td>
                <td><span class="boldtext">Keynote Speech, David</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>1:00 PM - 3:30 PM</td>
                <td><span class="boldtext">Hack-a-thon (Cont'd)</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>3:30 PM - 4:00 PM</td>
                <td><span class="boldtext">Hack-a-thon Presentations</span></td>
                <td>Ryan</td>
            </tr>
            <tr class="greyout">
                <td>4:00 PM - 4:15 PM</td>
                <td><span class="boldtext">Break!!</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>4:15 PM - 4:30 PM</td>
                <td><span class="boldtext">And the Winners are....</span></td>
                <td>Ryan</td>
            </tr>
            <tr>
                <td>4:30 PM - 4:45 PM</td>
                <td><span class="boldtext">Summit Close</span></td>
                <td>Ryan</td>
            </tr>
        </tbody>
    </table>
</div>
